.fade-in {
    animation: fadeIn;
    animation-duration: 1s;
}

.fade-in-down {
    animation: fadeInDown;
    animation-duration: 1s;
}

.fade-in-right {
    animation: fadeInRight;
    animation-duration: 1s;
}

.fade-in-left {
    animation: fadeInLeft;
    animation-duration: 1s;
}

.animate-one {
    animation-duration: 1s;
}
