.fade-in-para {
    animation: fadeIn;
    animation-duration: 4s;
}

.fade-in-down {
    animation: fadeInDown;
    animation-duration: 2s;
}

.fade-in-right {
    animation: fadeInRight;
    animation-duration: 2s;
}

.fade-in-left {
    animation: fadeInLeft;
    animation-duration: 2s;
}

.animate-one {
    animation-duration: 2s;
}