html {
    font-size: 90%;
}

::selection {
    background-color: $hover-nav-color;
    color: $btn-color-primary;
}

body {
    margin: 0;
    font-family: $page-font;
    background-color: $bg-color-page;
}

h1 {
    font-size: 2.9em;
}

h2 {
    font-size: 1.9em;
}

h1,h2 {
    margin: {
        top: 0.8em;
        bottom: 0.8em;
    };
}

input,
textarea {
    font-family: $page-font;
}

a {
    color: $page-color;
}

a,
p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.disabled {
    opacity: 0.25;
    pointer-events: none;
}