html {
    font-size: 90%;
}

::selection {
    background-color: $hover-nav-color;
    color: $btn-color-primary;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: $bg-color-btn-second;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .12) 0 3px 13px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, .12) 0 3px 13px 1px;
}

body {
    margin: 0;
    font-family: $page-font;
    background-color: $bg-color-page;
}

h1 {
    font-size: 2.9em;
}

h2 {
    font-size: 1.9em;
}

h1,h2 {
    margin: {
        top: 0.8em;
        bottom: 0.8em;
    };
}

input,
textarea {
    font-family: $page-font;
}

a {
    color: $page-color;
}

a,
p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.disabled {
    opacity: 0.25;
    pointer-events: none;
}

