/* BUTTONS */
.btn {
    cursor: pointer;
    display: inline-block;
    font-size: $link-font-size;
    font-family: $page-font;
    font-weight: 700;
    letter-spacing: 0.02rem;
    margin: 0.55em 0.7em;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    border-color: rgba(255, 255, 255, 0); /// žiadna resp. priehliadna
    border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -o-border-radius: $border-radius;
}

.btn {
    p {
        padding: 0.8rem;
    }
}

.primary-btn {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: $btn-color-primary;
    @include gradient-button(#314755, #26a0da);
}

.primary-btn:focus,
.primary-btn:hover {
    background-position: right center;
    color: $btn-color-primary;
    text-decoration: none;
}

.second-btn {
    background: rgba(245, 245, 245, 0.168);
    color: $btn-color-secondary;
    border-color: #26a0da;
}

.second-btn:hover,
.second-btn:focus {
    background-color: $bg-color-btn-second;
    color: $btn-color-primary;
    text-decoration: none;
    border-color: rgba(0, 0, 0, 0);

    a {
        color: $btn-color-primary;
    }
}

.submit-btn {
    max-width: 8.375em;
    p {
        padding: 0.9rem;
    }
}
