// ------            ------ //
// ------ ABOUT PAGE ------ //
// ------            ------ //
.home-view {
    display: block;
}

.flex {
    margin: 1.5em 0 2em 0;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

.hero {
    margin: 2.1875em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 1.9rem;
        margin-top: 0;
    }

    .wrapper-btn {
        margin-top: 3.125em;

        .contact-btn-link {
                color: $bg-color-page;
            }
    }

    .fade-in {
        animation: fadeInDown;
        animation-duration: 2s;
    }
}