@media (max-width: 992px) {
    html {
        font-size: 95%;
    }

    .about-me .line {
        display: none;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 90%;
    }

    .wrapper-logo-svg {
        margin: {
            right: 1.7em;
            left: 1.7em;
        }
    }
}
