/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        font-size: 75%;
    }

    .navigation-scss .navigation {
        font-size: 0.88rem;
    }

    .wrapper-logo-svg .logo-svg {
        width: 72%;
    }

    h1,
    h2 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .about-me .line {
        display: none;
    }

    .project {
        display: block;
    }

    .project-view .project {
        margin-bottom: 2rem;
    }

    .contact .info-map {
        display: none;
    }

    .contact .svg-pin {
        height: 49px;
    }

    .footer-center {
        text-align: left;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html {
        font-size: 92%;
    }

    .wrapper-logo-svg .logo-svg {
        width: 77%;
    }

    h1,
    h2 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .about-me .line {
        display: none;
    }

    .contact .wrapper-map {
        height: 300px;
        margin-top: 2em;
    }

    .project-view .project {
        margin-bottom: 2rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrapper-logo-svg .logo-svg {
        width: 87%;
    }

    .about-me .line {
        display: block;
        margin-bottom: 1.2rem;
    }

    .project-view .project {
        margin-bottom: 4rem;
    }

    .contact-container {
        padding: 0;
    }

    .contact {
        .form-wrapper {
            max-width: 300px;
            margin-right: 1rem;
        }

        .wrapper-map {
            max-width: 400px;
            height: 444px;
        }
    }
}

/* Medium devices (landscape tablets, 875px and up)  */
@media only screen and (min-width: 875px) {
    .contact {
        .form-wrapper {
            max-width: 350px;
            margin-right: 1rem;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wrapper-logo-svg .logo-svg {
        width: 95%;
        margin-right: 2rem;
    }

    .contact {
        .form-wrapper {
            margin-left: 1rem;
        }

        .wrapper-map {
            height: 447px;
            max-width: 550px;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 100%;
    }

    .home-view .flex-reverse {
        margin: 0;
    }

    .wrapper-logo-svg .logo-svg {
        width: 98%;
        margin-left: 4rem;
    }

    .contact {
        .wrapper-map {
            height: 491px;
            max-width: 760px;
        }
    }
}
