.navigation-scss {
    background-color: $bg-header;
    overflow: hidden;
    z-index: 1000;

    .theme-container {
        position: absolute;
        top: 0.75em;
        right: 1.5em;
        margin-left: 0.75rem;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        cursor: pointer;
    }

    .theme-container:hover {
        opacity: 0.8;
    }

    .shadow-dark {
        background: linear-gradient(145deg, #23282c, #1e2125);
        box-shadow: 17px 17px 23px #1a1d20, -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
            inset -5px -5px 4px #24282c;
    }

    .shadow-light {
        box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff, inset 7px 7px 3px rgba(177, 188, 207, 0.35),
            inset -18px -18px 3px rgba(255, 255, 255, 0.3);
    }

    @keyframes change {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.4);
        }
    }

    .change {
        animation-name: change;
        animation-duration: 1s;
        animation-direction: alternate;
    }

    .navigation {
        font-size: $link-font-size;
        margin: 1em auto 1.5em;
        padding: 0 1.05em;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;

        a {
            color: $page-color;
            font-size: 1.1em;
            font-weight: 800;
            text-decoration: none;
            position: relative;
            border-radius: $border-radius;

            padding: 0.575rem 0.65rem;
            display: inline-block;
            z-index: 20000;

            &.router-link-exact-active {
                color: $hover-nav-color;
            }

            span::before {
                content: "";
                display: block;
                height: 0.1875em;
                width: 0%;
                bottom: 5px;
                border-radius: $border-radius;
                position: relative;
                background: $hover-nav-color;
                transition: all ease-in-out 350ms;
                -webkit-transition: all ease-in-out 350ms;
                -moz-transition: all ease-in-out 350ms;
                -ms-transition: all ease-in-out 350ms;
                -o-transition: all ease-in-out 350ms;
            }

            span:hover::before {
                width: 100%;
            }
        }
    }
}

.navigation-dark {
    background-color: $dark-bg-header;

    .navigation {
        a {
            color: $dark-page-color;

            &.router-link-exact-active {
                color: $dark-hover-nav-color;
            }

            span::before {
                background: $dark-hover-nav-color;
            }
        }
    }
}
