// ------ VARIABLES ------ //
$page-font: 'Montserrat', Arial, sans-serif;
$page-color: #222222;

$btn-color-secondary: #222222;
$btn-color-primary: #f0f0f0;

$bg-color-btn-second: #2180ac;
$bg-color-icon: #222222;
$bg-color-page: #f0f0f0;
$bg-header: #fafafaea;

$hover-nav-color: #1878a5;
$color-page-btn-light:#5cecff;

$link-font-size: 0.8rem;
$border-radius: 0.4rem;

// ------ MIXINS ------ //
@mixin gradient-button($color1, $color2) {
    background-image: -webkit-gradient(linear, left top, right top, from($color1), color-stop(51%, $color2), to($color1));
    background-image: -o-linear-gradient(left, $color1 0%, $color2 51%, $color1 100%);
    background-image: linear-gradient(to right, $color1 0%, $color2 51%, $color1 100%);
}