// ------ VARIABLES ------ //
$page-font: "Montserrat", Arial, sans-serif;
$page-color: #222222;
$page-color-sec: #066899;
$page-color-shadow: #222222;

$btn-color-secondary: #222222;
$btn-color-primary: #f0f0f0;

$bg-color-btn-second: #2180ac;
$bg-color-icon: #222222;
$bg-color-page: #f0f0f0;
$bg-header: #fafafaea;

$border-color: #cbcbcb;
$hover-nav-color: #1878a5;
$color-page-btn-light: #5cecff;

$link-font-size: 0.75rem;
$border-radius: 0.4rem;

// ------ VARIABLES - DARK MODE ------ //
$dark-page-color: #f0f0f0;
$dark-page-color-sec: #00a3e0;
$dark-page-color-shadow: #f0f0f0;

$dark-btn-color-secondary: #f0f0f0;
$dark-btn-color-primary: #222222;

$dark-bg-color-btn-second: #066899;
$dark-bg-color-icon: #f0f0f0;
$dark-bg-color-page: #222222;
$dark-bg-header: #181818;

$dark-border-color: #878787;
$dark-hover-nav-color: #066899;
$dark-color-page-btn-light: #066899;

// ------ MIXINS ------ //
@mixin gradient-button($color1, $color2) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from($color1),
        color-stop(51%, $color2),
        to($color1)
    );
    background-image: -o-linear-gradient(left, $color1 0%, $color2 51%, $color1 100%);
    background-image: linear-gradient(to right, $color1 0%, $color2 51%, $color1 100%);
}
