// ------            ------ //
// ------ ABOUT PAGE ------ //
// ------            ------ //
.home-view {
    display: block;

    .flex-reverse {
        margin: 1.5em 0 2em 0;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
    }

    .hero {
        margin: {
            /* right: 4em;
            left: 2em;*/
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h2 {
            margin-top: 0;
        }

        .wrapper-btn {
            margin-top: 3.125em;

            .contact-btn-link {
                color: $bg-color-page;
            }
        }
    }

    .about-me {
        max-width: 60.5em;
        height: auto;
        width: 100%;
        text-align: center;
        margin: 2em auto;

        .line {
            width: 100%;
            height: 1px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            background-color: lighten($bg-color-icon, 40);
        }

        p {
            padding: {
                right: 4em;
                left: 4em;
            }
        }
    }
}

.home-dark {
    a {
        color: $dark-bg-color-icon;
    }

    .second-btn,
    h1,
    h2 {
        color: $dark-bg-color-icon;
    }

    .hero {
        .wrapper-btn {
            .contact-btn-link {
                color: $dark-bg-color-page;
            }
        }
    }

    .about-me {
        .line {
            width: 100%;
            height: 1px;
            box-shadow: rgba(216, 216, 216, 0.15) 1.95px 1.95px 2.6px;
            background-color: lighten($bg-color-icon, 40);
        }
    }
}
