// ------            ------ //
// ------ ABOUT PAGE ------ //
// ------            ------ //
.home-view {
    display: block;
}

.flex-reverse {
    margin: 1.5em 0 2em 0;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

.flex {
    margin: 1.5em 0 2em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero {
    margin: {
        right: 2em;
        left: 2em;    
    };
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 1.9rem;
        margin-top: 0;
    }

    .wrapper-btn {
        margin-top: 3.125em;

        .contact-btn-link {
                color: $bg-color-page;
            }
    }

    .fade-in {
        animation: fadeInDown;
        animation-duration: 2s;
    }
}

.about-me {
    max-width: 62.5em;
    height: auto;
    width: 100%;
    text-align: center;
    margin: 2em auto;

    .line {
        width: 100%;
        height: 1px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        background-color: lighten($bg-color-icon, 40);

    }

    p {
        padding: 1.2em;
    }
}