// ------              ------ //
// ------ CONTACT PAGE ------ //
// ------              ------ //

.contact-container {
    max-width: 1270px;
    margin: 0 auto;
}

.contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;

    h1 {
        margin-bottom: 1em;
    }

    .form-wrapper {
        width: 100%;
        max-width: 400px;
    }

    .contact-form {
        text-align: left;
        margin-left: 1rem;
        margin-right: 1rem;

        label {
            font-size: 1.0625em;
            display: block;
            margin-bottom: 0.05em;
            margin-top: 1.375em;
        }

        .btn {
            font-size: 0.7rem;
            margin: 0;
            margin-top: 1.375em;
        }
    }

    input,
    textarea {
        color: $page-color;
        font-size: 1rem;

        border: 2px solid lighten($bg-color-btn-second, 60);
        background-color: $bg-header;
        outline: none;

        padding: 0.625em;

        display: block;
        max-width: 100%;
        width: 100%;

        border-radius: $border-radius;

        &:focus {
            border-color: $hover-nav-color;
        }
    }

    .info-map {
        font-size: 70%;
        position: absolute;
        max-width: 220px;
        text-align: left;
        line-height: 1.5;
        background: transparentize($bg-color-icon, 0.1);
        color: $bg-color-page;
        border-radius: $border-radius;
        z-index: 100;
        right: 10px;
        top: 10px;

        p {
            padding: {
                top: 0.5em;
                left: 0.7em;
                right: 0.7em;
                bottom: 0.5em;
            }
        }

        span {
            color: $color-page-btn-light;
        }
    }

    .wrapper-map {
        width: 100%;
        max-width: 769px;
        height: 200px;
        position: relative;
        margin-top: 2em;

        .map {
            z-index: 10;
        }

        .leaflet-container {
            border-radius: $border-radius;
        }
    }

    .svg-pin {
        position: absolute;
        top: 35%;
        left: 45.5%;
        z-index: 100;
    }

    .marker {
        z-index: 100;
    }
}
