// ------              ------ //
// ------ CONTACT PAGE ------ //
// ------              ------ //

.contact {

    h1 {
            margin-bottom: 0;
        }

    .form-wrapper {
        max-width: 35em;
        width: 100%;
        margin: 1.2em;
        font-size: 1em;

        p {
            margin: 2.5em 2em;
        }
    }
}

.contact-form {
	margin: 2.5em 2em;
	text-align: left;

	label {
		font-size: 1.0625em;
		display: block;
		margin-bottom: 0.05em;
		margin-top: 1.375em;
	}

	.btn {
		margin: 0;
		margin-top: 1.375em;
	}
}

input,
textarea {
	color: $page-color;

	border: 2px solid lighten($bg-color-btn-second, 60);
	background-color: $bg-header;
	outline: none;

	padding: 0.625em;

	display: block;
	max-width: 100%;
	width: 100%;

	border-radius: $border-radius;

	&:focus {
		border-color: $hover-nav-color;
	}
}

.info-map {
    position: absolute;
    max-width: 220px;
    width: 100%;
    text-align: left;
    line-height: 1.5;
    background: transparentize($bg-color-icon, .1);
    color: $bg-color-page;
    border-radius: $border-radius;
    z-index: 100;
    right: 10px;
    top: 10px;

    p {
        padding: {
            top: 0.5em;
            left: 0.7em;
            bottom: 0.5em;
        };
    }

    span {
            color: $color-page-btn-light;
    }
}

.wrapper-map {
    height: 70vh;
    width: 70vw;
    max-width: 45em;
    position: relative;
    
    .map {
        z-index: 10;
    }

    .leaflet-container {
        border-radius: $border-radius;
    }
    
    margin: {
        top: 1em;
        right: 1em;
        right: 1.2em;
        left: 1.2em;
    };
}

.svg-pin {
    position: absolute;
    top: 35%;
    left: 45.5%;
    z-index: 100;
}

.marker {
    z-index: 100;
}

@media (max-width: 1505px) {
    .contact .form-wrapper {
        max-width: 48em;
    }
}

@media ( max-width: 700px ) {
    .wrapper-map {
        width: 90vw;
    }
}