html {
    font-size: 90%;
}

body {
    margin: 0;
    font-family: $page-font;
    background-color: $bg-color-page;
}

input,
textarea {
    font-family: $page-font;
}

a {
    color: $page-color;
}

a,
p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}