/* BUTTONS */
.btn {
    display: inline-block;
    font-size: .7em;
    margin: 1.85em 0 ;
    padding: 0.125rem 1rem;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    border-color: rgba(255, 255, 255, 0); /// žiadna
    border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -o-border-radius: $border-radius;
}

.btn {
    p {
        padding: 0.8rem;
    }
}

.primary-btn {
    @include gradient-button(#314755, #26a0da)  
}

.primary-btn {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: $btn-color-primary;
}

.primary-btn:focus,
.primary-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.second-btn {
    background: rgba(245, 245, 245, 0.219);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: $btn-color-secondary;
    border-color: #26a0da;
}

.second-btn:hover,
.second-btn:focus {
    @include gradient-button(#314755,#26a0da);
    color: #fff;
    text-decoration: none;
    border-color: rgba(0, 0, 0, 0);
}

/* CARD BUTT */
.btn-card {
    -webkit-clip-path: polygon(89% 0, 100% 0%, 100% 100%, 68% 100%);
    clip-path: polygon(89% 0, 100% 0%, 100% 100%, 68% 100%);
    background-color: rgba(0, 0, 0, 0.678);
    color: rgba(255, 255, 255, 0.986);
    content: 'Prejdi na stranku';
    position: absolute;
    font-size: 1em;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-transform: uppercase;
    z-index: 60;
    border-radius: 2px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* TINY BUTTS */
.btn-roll {
    background-color: rgba(0, 0, 0, 0.582);
    color: rgba(255, 255, 255, 0.986);
    content: 'Prejdi na stranku';
    position: absolute;
    font-size: 3em;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    z-index: 60;
    border-radius: 2px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.btn-roll p {
    text-shadow: 1px 5px 5px #1a1b1b;
}

.btn-roll p:hover {
    font-size: 1.1em;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}