footer {
    margin-top: 2em;
    font-family: $page-font;
    color: $page-color;
    font-size: 1em;
    text-align: center;
    background-color: $bg-color-page;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-left {
    margin: 2em;
}

footer img {
    margin-bottom: 1.5em;
}

.footer-center {
    margin: 2em;
}

.footer-center div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-center i {
    background-color: $bg-color-icon;
    color: $bg-color-page;
    font-size: 1.5625rem;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.625rem;
    margin: 0.625rem 0.9375rem;
    vertical-align: middle;
}

.footer-right {
    margin: 2em;
}

.footer-right p {
    margin-bottom: 0.625em;
}

.footer-icons i {
    display: inline-block;
    width: 2.1875em;
    height: 2.1875em;
    cursor: pointer;
    background-color: $bg-color-icon;
    border-radius: 0.125em;
    font-size: 1.25em;
    color: $bg-color-page;
    text-align: center;
    line-height: 2.1875em;
    margin-top: 1em;
    margin-right: 0.1875em;
    margin-bottom: 0.3125em;
}

footer a {
    color: $bg-color-icon;
}

.footer-company-name {
    margin-top: 0.625em;
}

footer span {
    font-weight: 700;
}

.footer-shadow {
    color: lighten($bg-color-icon, 15);
}